{{#if errors}}
  <div class="grid-x">
    <div class="cell">
      <p class="alert">
        {{#each errors as |error|}}
          {{error}}
        {{/each}}
      </p>
    </div>
  </div>
{{/if}}
<div class="grid-x">
  <div class="cell">
    <form>
      <div class="grid-x">
        <div class="cell">
          {{forms/validated-input type="text" changeset=householdMember propertyName="name" label="Member Name" propertyId="edit-household-member-name"}}
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <input type="submit" id="save-household-member-button" disabled={{disableSubmit}} class="button" value="Save" {{action "submit"}}>
        </div>
      </div>
    </form>
  </div>
</div>
