<div class="container-lg">
  <h1>View Loan Payment</h1>
  <Menus::LoanPaymentItem @loanPaymentId={{this.loanPayment.id}} />
  <DetailTable @model={{this.loanPayment}} @properties={{this.properties}} />
</div>
