@import 'variables';
@import 'nav-bar';
@import 'forms';
@import 'callout';
@import 'tables';

body {
  font-family: 'proxima-nova', sans-serif;
  margin: 0;

  main {
    margin-bottom: 3em;
  }
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}

button {
  outline: none;
}

[class*='container-'] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.container-lg {
  max-width: 67.5rem;
}

.container-md {
  max-width: 55rem;
}

.container-sm {
  max-width: 40rem;
}
