@import 'variables';
@import 'nav-menu';

body {
  overflow-x: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  // overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.modal-cell {
  background-color: white;
}
