.button {
  background-color: $primary-colour;
  border: 1px solid $black-alpha-25;
  color: $black;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 0.5em;
  margin-top: 1.5em;
  padding-top: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &.alert {
    background-color: $alert-button-colour;
    color: $white;
  }

  &.cancel {
    background-color: $cancel-button-colour;
  }
}
