.search-container {
  position: relative;
  width: 100%;

  &:hover {
    .search-result {
      display: block;
    }
  }

  input {
    position: relative;
  }

  .search-result {
    display: none;
    height: 100px;
    position: absolute;
    top: 100%;
    width: inherit;
  }
}
