.nav-menu {
  background-color: $background-colour;
  padding: 10px 0;

  a {
    color: $nav-menu-link-colour;

    &:hover {
      color: $nav-menu-link-hover-colour;
    }

    &.logo-link {
      padding-left: 0;
    }
  }

  .nav-menu-left {
    float: left;
  }
}
