.title-with-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .button {
      display: inline;
      margin: 0 0 0 1.5em;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.add-button {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  a {
    background-color: $white;
    border: 1px solid $border-dark-grey;
    border-radius: 50%;
    color: $black;
    padding: 0.5em;

    &:hover {
      background-color: $primary-colour;
    }
  }
}
