$white: #fff;

$background-colour: #1d2d44;
$background-overlay: rgba(0, 0, 0, .5);
$link-colour: #3e5c76;
$link-hover-colour: #1d2d44;

$nav-menu-link-colour: #f0ebd8;
$nav-menu-link-hover-colour: #748cab;
