$black: #000;
$white: #fff;
$grey: #808080;

$primary-colour: #00ced1;
$success-colour: #e1faea;
$success-text-colour: #1eae53;
$warning-colour: #fff3d9;
$alert-colour: #f7e4e1;
$alert-text-colour: #c94936;
$link-colour: #00ced1;
$alert-button-colour: #cc4b37;
$cancel-button-colour: #dcdcdc;

$black-alpha-25: rgba(0, 0, 0, 0.25);
$black-alpha-50: rgba(0, 0, 0, 0.5);

$border-light-grey: #dcdcdc;
$border-dark-grey: #696969;
