{{title subcategory.name}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8">
      <h1>Edit {{category.name}} - {{subcategory.name}}</h1>
    </div>
    <div class="cell small-4">
      <div class="button-group float-right">
        {{#link-to "subcategories.show" subcategory.id class="secondary button"}}
          Back
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      {{forms/category/edit-subcategory subcategory=(changeset subcategory CategoryValidations) subcategorySaved=(action "subcategorySaved")}}
    </div>
  </div>
</div>
