<nav class="nav-bar">
  <div class="container-lg nav-bar-container">
    <LinkTo @route="index">
      <h1>Finance</h1>
    </LinkTo>
    <div class="nav-links">
      {{#if this.session.authToken}}
        <button {{on "click" this.logout}} id="logout-button">
          Logout
        </button>
      {{else}}
        <LinkTo @route="login" id="login-link">
          Login
        </LinkTo>
      {{/if}}
    </div>
  </div>
</nav>
