{{title category.name}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h1>{{category.name}}</h1>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li><a>Details</a></li>
        <li><a>Subcategories</a></li>
        <li><a>{{fa-icon "credit-card"}}Expenses</a></li>
      </ul>
    </div>
  </div>
</div>
