{{title "Edit Budget"}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8">
      <h1>Edit Budget</h1>
    </div>
    <div class="cell small-4">
      <div class="button-group float-right">
        {{#link-to "budgets.show" budget.id class="secondary button"}}
          Back
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      {{forms/budget/edit-budget budget=(changeset budget BudgetValidations) budgetSaved=(action "budgetSaved")}}
    </div>
  </div>
</div>
