<nav class="secondary">
  <ul>
    <li>
      {{#if this.isDetailsRoute}}
        <span>
          <FaIcon @icon="list" @size="sm" />
          Details
        </span>
      {{else}}
        <LinkTo @route="income.show" @model={{@incomeId}}>
          <FaIcon @icon="list" @size="sm" />
          Details
        </LinkTo>
      {{/if}}
    </li>
    <li>
      {{#if this.isSettingsRoute}}
        <span>
          <FaIcon @icon="gear" @size="sm" />
          Settings
        </span>
      {{else}}
        <LinkTo @route="income.settings" @model={{@incomeId}}>
          <FaIcon @icon="gear" @size="sm" />
          Settings
        </LinkTo>
      {{/if}}
    </li>
  </ul>
</nav>
