{{!-- template-lint-disable require-input-label  --}}
<div>
  <label>Attachment Name</label>
  <Input @value={{@attachment.name}} @type="text" />
  <Input @value={{@attachment.file}} @type="file" {{on "change" this.fileSelected}} />
</div>
