<div class="container-sm">
  <h1>New Household Member</h1>
  <Forms::HouseholdMember @householdMember={{this.householdMember}} @saveSuccessful={{fn this.transitionToHouseholdMemberDetails}} />
</div>
