<div class="container-lg">
  <h1>Household Member - {{this.householdMember.name}}</h1>
  <Menus::HouseholdMemberItem @memberId={{this.householdMember.id}} />
  <DetailTable @model={{this.householdMember}} @properties={{this.properties}} />
</div>
