<div class="container-lg">
  <h1>Edit Vendor - {{this.vendor.name}}</h1>
  <Menus::VendorItem @vendorId={{this.vendor.id}} />
</div>
<div class="container-sm">
  <Forms::Vendor @vendor={{this.vendor}} @saveSuccessful={{fn this.transitionToVendorDetails}} />
</div>
