<div class="container-lg">
  <h1>Vendor - {{this.vendor.name}}</h1>
  <Menus::VendorItem @vendorId={{this.vendor.id}} />
  <DetailTable @model={{this.vendor}} @properties={{this.properties}} />
</div>
