{{title "Sign Up"}}
<div class="grid-x">
  <div class="cell">
    <h3>Sign Up</h3>
  </div>
</div>
<div class="grid-x">
  <div class="cell">
    {{forms/sign-up user=(changeset user SignUpValidations) userCreated=(action "userCreated")}}
  </div>
</div>
